* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-page{
    display: flex;
    height: 100vh;
}
.login-background{
    margin-right: 60px;
    width: 60%;
    display: flex;
}
.login-background > img{
    height: 150px;
    width: 150px;
    object-fit: cover;
}
.login-form{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo-container{
    width: 250px;
}
.logo-container > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.login-heading{
    font-size: 38px;
    margin-bottom: 20px;
}
.input-fields > input{
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(192, 192, 192);
}
.input-fields > input::placeholder{
    font-size: 18px;
    color: lightgray;
}
.login-button{
    margin-bottom: 20px;
    width: 300px;
    padding: 15px;
    font-size: 18px;
    color: white;
    border: none;
    background-color: rgb(175, 28,40);
    cursor: pointer;
}
 .forgot-password ~ a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
